.container
    #left-block
        //partial the chat in future?
        .chat-container
            #chat-box
                %h2#sample CHAT HERE
            #chat-input
                #message
                    %input{:type => 'text'}
                %button#send
        .meeting-container
            %button#meeting Go to meeting
    #right-block
        #doc-header
            %h2.header-centered Documents
        .file
            %a Executive Agenda
        .file
            %a Meeting notes from 3/14
        .file
            %a Financial report for March
