%h1 Dashboard

#centeredmenu
  %ul.nav.nav-tabs
    %li
      %a{:href => "#"} Documents
    %li
      %a{:href => "#"} Subcommittee
    %li
      %a{:href => "#"} Admin

%body
  #announcements
    %h1 Announcements
  #calendar
    Calendar
  #salesforce
    %h1 Salesforce
  #footer
    Community Grows