%h1 Dashboard

#centeredmenu
  %ul.nav.nav-tabs
    %li
      = link_to "Documents", documents_path
    %li
      = link_to "Subcomittee", committee_index_path
    %li
      = link_to "Admin", admin_index_path

%body
  #announcements
    %h2 Announcements
  #calendar
    %h2 Calendar
  #salesforce
    %h2 Salesforce
  #footer
    CommunityGrows