/* Place all the styles related to the documents controller here.*/
/* They will automatically be included in application.css.*/
/* You can use Sass (SCSS) here: http://sass-lang.com/*/
body {
  font-family: "Open Sans";
  font-size: .8em;
  margin: 0;
}
.content_without_nav {
  margin-top:7%;
  margin-left:2%;
  margin-right:2%;
}
.content_without_nav h1 {
  text-align: center;
}
h1 {
  /*font-family: "Forum";*/
  font-size: 2.5em;
}
h2 {
  /*font-family: "Forum";*/
  font-size: 1.3em;
}
.button {
  display: inline-block;
  border-radius: 5px;
  background-color: #ff610d;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 1%;
  width: 15em;
  transition: all 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.comment {
  margin-top: 10px;
}

.comment-delete{
  display: inline-block;
}
.buttonSmall {
  display: inline-block;
  border-radius: 5px;
  background-color: #ff610d;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 1%;
  width: 12em !important;
  transition: all 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.comment .buttonSmall{
  background-color: #333;
}
#content {
  text-align: center;
}
#form {
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#table_content {
  overflow: auto;
  max-height: 500px;
}
table {
  width: 100%;
  text-align: center;
  border:2px solid #ddd;
  border-radius: 7px;
  table-layout: fixed;
  white-space: nowrap;
}
thead {
  background-color: #227E9D;
  color: white;
  border-bottom: 3px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
link {
  size: 50px;
}
#flashNotice {
  font-size: 1.1em;
  color: red;
}
.bottom-bar {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.logo img{
  height: 3em;
}

/***************/
/*Documents CSS*/
/***************/

/*Start your specific CSS and inherit general CSS from the top*/

/***************/
/* Nav Bar CSS */
/***************/
.dashboard{
  float: left;
  margin:0;
  padding:0;
}
.navigation{
  height: 100%;
  float: left;
  padding: 1.1em 1.5em;
  margin-left: 1.0em;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
}

.signout {
  float: right;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b3603;
    width: 100%;
    height: 5.0em;
    position: fixed;
    top: 0;
    box-shadow: 0px 1px 3px 1px;
}
.navigation:hover:not(.active) {
    background-color: #666;
}
.dashboard img {
  width: 13em;
  height: 4.25em;
  padding: 0px 0px;
}

.search_head{
  display: inline;
  margin-right: 2%;
}
.search_button {
  display: inline;
}

/*****************/
/* Dashboard CSS */
/*****************/
#announcements {
    /*background-color:#eeeeee;*/
    float:left;
    height:52em;
    text-align:center;
    width:49%;
    border-radius: 7px;
    padding: 1px;
    margin-bottom: 2%;
    border-style: solid;
    border-color: #4b3603;
}
#accordion-scrollable {
    /*background-color:#eeeeee;*/
    float:right;
    height:52em;
    text-align:center;
    width:49%;
    border-radius: 7px;
    padding: 1px;
    margin-bottom: 2%;
    border-style: solid;
    border-color: #4b3603;
    overflow-y: scroll;
}

.dashboard_row_announcement_content {
  width: 70%;
}

.dashboard_row_announcement_time {
  width: 30%;
}

.dashboard_row_announcement_title {
  width: 10%;
}

#announcement_content {
  overflow: auto;
  max-width: 100%;
  max-height: 40%;
  font-size: 1em;
}

#document_content {
  overflow: auto;
  max-width: 100%;
  max-height: 30em;
  font-size: 1em;  
}

.outer {
  text-align: center;
}

/*****************/
/* Committee CSS */
/*****************/

/*Start your specific CSS and inherit general CSS from the top*/

/*****************/
/*    Admin CSS  */
/*****************/

#calendar_html {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 20%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.admindashboard_row_announcement_title {
  width: 18%;
}
.admindashboard_row_announcement_content {
  width: 40%;
}
.admindashboard_row_announcement_createdat {
  width: 12%;
}
.admindashboard_row_announcement_updatedat {
  width: 12%;
}
.admindashboard_row_announcement_edit {
  width: 12%;
}
.admindashboard_row_announcement_delete {
  width: 12%;
}

.row {

}
/*
#eventContent {
  text-align: center;
  position: relative;
}*/

/*****************/
/*  Comment CSS  */
/*****************/
#comments {
  margin-left: 1%;
  margin-right: 3%;
  display: block;
  width: 100%;
  word-wrap: break-word;
}
