/* Place all the styles related to the documents controller here.*/
/* They will automatically be included in application.css.*/
/* You can use Sass (SCSS) here: http://sass-lang.com/*/
body {
  font-family: "Open Sans";
  font-size: .8em;
  margin: 0;
}
.content_without_nav {
  margin:6%;
  margin-left:2%;
  margin-right:2%;
}
h1 {
  font-family: "Forum";
  font-size: 3em;
}
h2 {
  font-size: 1.7em;
}
.button {
  display: inline-block;
  border-radius: 5px;
  background-color: #333;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 15px;
  width: 13%;
  transition: all 0.5s;
  margin-top: 10px;
}
#table_content {
  overflow: auto;
  max-height: 500px;
}
table {
  width: 100%;
  text-align: center;
  border:2px solid #ddd;
  border-radius: 7px;
  table-layout: fixed;
  white-space: nowrap;
}
thead {
  background-color: #333;
  color: white;
  border-bottom: 3px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
link {
  size: 50px;
}

/***************/
/*Documents CSS*/
/***************/
table#docs {
  margin: 30px;
  /* border-collapse: collapse;*/
  width: 90%;
  border: 1px solid black;
  /* border-bottom: 2px solid black;*/
}

table#docs th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}

table#docs th, table#docs td {
  padding: 4px;
  text-align: left;
}

table#docs th.hilite {
  background-color: yellow;
}

thead#filebar{
  background-color: #8fbc8f;
}

#docRepo{
  background-color: #8fbc8f;
  margin: 0px;
  padding: 0px;
}

/***************/
/* Nav Bar CSS */
/***************/

.dashboard{
  float: left;
  margin:0;
  padding:0;
}

.navigation{
  float: right;
  padding: 20px 20px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-left: 1px solid #bbb;
  font-size: 1.1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 55.5px;
    position: fixed;
    top: 0;
}

.navigation:hover:not(.active) {
    background-color: #666;
}

.dashboard img {
  width: 160px;
  height: 55px;
  padding: 0px 0px;
}

/*****************/
/* Dashboard CSS */
/*****************/
#announcements {
    background-color:#eeeeee;
    float:left;
    height:650px;
    margin:1% 0px;
    text-align:center;
    width:49%;
}
#calendar {
    background-color:#eeeeee;
    float:right;
    height:650px;
    margin:1% 0px;
    text-align:center;
    width:49%;
}
#salesforce {
    background-color:#eeeeee;
    float: right;
    height:500px;
    position: relative;
    right: 5%;
    text-align: center;
    width:90%;
}
#footer {
    background-color:black;
    clear:both;
    color:white;
    text-align:center;
    width:100%;
}
.dashboard_row_announcement_content {
  width: 70%;
}

.dashboard_row_announcement_time {
  width: 30%;
}

.dashboard_row_announcement_title {
  width: 10%;
}

#announcement_content {
  overflow: auto;
  max-width: 100%;
  max-height: 40%;
  font-size: 1em;
}

/*****************/
/* Committee CSS */
/*****************/

.container{
    /* background: #4b3603;*/
    width: 100%;
    height: 100%; 
}

#left-block{
    /* background: red; */
    float: left;
    width: 70%;
    height: 100%;
}

#right-block{
    /* background: blue;*/
    float: right;
    width: 30%;
    height: 100%;
}

.chat-container {
    /* background: black;*/
    margin-right: 10%;
    margin-left: 10%;
    height: 60%;
    width: 80%;

}

#chat-box {
    text-align: center;
    /* background: green;*/
    height: 90%;
    width: 100%;
}

#chat-box h2{
    padding-top: 5%;
}

#chat-input {
    /* background: blue;*/
    height: 10%;
    width: 100%;
}

.meeting-container {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    background: white;
    height: 15%;
    width: 60%;
}
button#send{
    float: right;
    width: 20%;
    height: 100%;
}

button{
    background-color: #72D072;
    height: 100%;
    width: 100%;
    font-size: xx-large;
    border-radius: 10px;
}

#doc-header{
    height: auto;
    width: 100%;
    text-align: center;
}

.file a{
    color: black;
}

.file{
    margin-top: 5%;
    text-align: center;
}

#message{
    float: left;
    width: 80%;
    height: 100%;
}

#message input{
    width: 97%;
    height: 90%;
}

/*****************/
/*    Admin CSS  */
/*****************/

#calendar_html {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 20%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.admindashboard_row_announcement_title {
  width: 10%;
}
.admindashboard_row_announcement_content {
  width: 48%;
}
.admindashboard_row_announcement_createdat {
  width: 10%;
}
.admindashboard_row_announcement_updatedat {
  width: 10%;
}
.admindashboard_row_announcement_edit {
  width: 10%;
}
.admindashboard_row_announcement_delete {
  width: 12%;
}
