/*// Place all the styles related to the committee controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/
html, body{
    height: 100%;
}

.container{
    /*// background: #4b3603;*/
    width: 100%;
    height: 100%; 
}

#left-block{
    /*// background: red; */
    float: left;
    width: 70%;
    height: 100%;
}

#right-block{
    /*// background: blue;*/
    float: right;
    width: 30%;
    height: 100%;
}

.chat-container {
    /*// background: black;*/
    margin-right: 10%;
    margin-left: 10%;
    height: 60%;
    width: 80%;

}

#chat-box {
    text-align: center;
    /*// background: green;*/
    height: 90%;
    width: 100%;
}

#chat-box h2{
    padding-top: 5%;
}

#chat-input {
    /*// background: blue;*/
    height: 10%;
    width: 100%;
}

.meeting-container {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    background: white;
    height: 15%;
    width: 60%;
}
button#send{
    float: right;
    width: 20%;
    height: 100%;
}

button{
    background-color: #72D072;
    height: 100%;
    width: 100%;
    font-size: xx-large;
    border-radius: 10px;
}

#doc-header{
    height: auto;
    width: 100%;
    text-align: center;
}

.file a{
    color: black;
}

.file{
    margin-top: 5%;
    text-align: center;
}

#message{
    float: left;
    width: 80%;
    height: 100%;
}

#message input{
    width: 97%;
    height: 90%;
}
