
body {
    background: url(login/login_page.jpg) no-repeat center center fixed;
    color: white;
    font-family: "Arial", Times, sans-serif;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    background-size: 100% 100%;
} 

h2 {
    color: white;
    text-align: center;
    font-size: 2em;
}

.console {
    margin-top: 15%;
    text-align: center;
}

input:required {
	border: 1px solid red;
}

.input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.input_text {
    font-size: 1em;
}