/* Written by Tony
   CSS file for users/sign_in view
*/


body {
    background: url(login/login_page.jpg) no-repeat center center fixed;
    color: Gray;
    font-family: "Arial", Times, sans-serif;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    background-size: 100% 100%;
} 

h2 {
    color: black;
    text-align: center;
    font-size: 2em;
}

.console {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 8% auto 100px;
    padding: 3%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input:required {
	border: 1px solid red;
}

.input {
    font-family: "Open Sans";
    outline: 0;
    background: #f2f2f2;
    width: 70%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.input_text {
    font-size: 1em;
}

.submit_button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: gray;
    width: 70%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.sign_in_flash_alert {
    font-size: 1em;
}