
body {
    /*background-image: url("login/login_page.jpg");*/
    color: white;
    font-family: "Arial", Times, sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
} 

h2 {
    color: white;
    text-align: center;
    font-size: 2em;
}

.console {
    margin-top: 15%;
    text-align: center;
}

input:required {
	border: 1px solid red;
}

.input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.input_text {
    font-size: 1em;
}